name: Build Masscan (MSYS2)
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            base-devel
            mingw-w64-x86_64-gcc
            make

      - name: Build Masscan
        shell: msys2 {0}
        run: |
          # Собираем masscan через GCC внутри MSYS2
          make -j4
          
      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: masscan-windows-binary
          path: bin/masscan.exe
