name: Build Masscan EXE
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Build Solution
        run: |
          cd vs10
          # Команда ниже принудительно обновляет проект до v143 (VS 2022)
          msbuild masscan.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: masscan-windows-binary
          path: vs10/bin/masscan.exe
