name: Build Masscan (MinGW)
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Build with Make
        shell: bash
        run: |
          # Включаем статическую сборку, чтобы не таскать за собой лишние .dll
          make -j4 CC=gcc CFLAGS="-static -O2"
          
      - name: Check if exe exists
        shell: bash
        run: ls -l bin/masscan.exe || echo "Not found in bin/"

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: masscan-mingw-windows
          path: bin/masscan.exe
